.carousel-inner > .item > img {
    margin: 0 auto;
    /* height:none */
}

.carousel-inner {
    min-height: 250px;
    background-color: darkgrey
}

.carousel-indicators{
    bottom: 0px;
}

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'; 
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css';