.auth-form{
  width: 30rem;
  max-width: 80%;
  margin: 5rem auto;
  text-align: center;
}

.formy{
  display: flex;
}

.formy label,
.formy input{
  width: 100%;
}

.formy label{
  margin-bottom: .5rem;
  text-align: end;
  padding-right: 1rem; 
  width: 60%;
}

.form-actions button {
  background: #42a847;
  font: inherit;
  border: 1px solid #42a847;
  border-radius: 3px;
  padding: .25rem 1rem;
  padding-top: 0rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,0);
  cursor: pointer;
  margin-top: 1rem;
}

.form-actions button:hover,
.form-actions button:active {
  background: #3c9140;
  border-color: #3c9140;
}

#username-hidden{
  display: none;
}
