.grid-item{
    text-align: center;
    font-size: 3em;
}

.lesson-button{
    min-width: 10em;
    font-size: 1.25rem;
}

.grid-item h1{
    width: 100%;
}

.lesson-page{
    background-color: #eeeeee;
}