.wrapper{
    height: 100%;
    width: 100%;
    /* Margin top should be variabled out to the size of the menu-item */
    margin-top: 6em; 
}

.menu-item {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6em;
    width: 6em;
    margin: -3em;
    text-align: center;
    display: flex;
    border-radius: 50%;
    box-shadow: 10px 10px 10px -11px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.menu-item i {
    color: black;
    font-size: 2em;
    display: flex;
    margin: auto;
    transition: font-size 0.1s ease-out;
}
.menu-item:hover {
height: 7em;
width: 7em;
margin: -3.5em;
}
.menu-item:hover i {
font-size: 2.5em;
}
.item-show {
opacity: 1;
transition: height 0.1s ease-out, width 0.1s ease-out, margin 0.1s ease-out, opacity 0.5s ease-out;
}
.item-hide {
opacity: 0;
}
.menu-background {
    height: 100%;
    width: 100%;
}
.button-bg {
    position: relative;
    height: 12em;
    width: 18em;
    border-radius: 50%;
    margin: 1.75em auto 0;
    top: 50%;
}
.menu-toggle {
    position: absolute;
    margin-top: 2em;
    margin-left: 50%;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    z-index: 10;
}
.menu-toggle i {
    font-size: 20px;
}
.toggle-open {
    border: 3px solid #353535;
    color: #353535;
    left: 50%;
    margin-top: 3em;
    margin-left: -3em;
    animation: fadeIn 1s 1 ease-in;
}
.toggle-closed {
    border: 3px solid black;
    color: black;
    left: 50%;
    margin-top: 3em;
    margin-left: -3em;
}
.menu-wrapper-open {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-out;
}
.menu-wrapper-closed {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;
}
.animate-menu {
    animation: spin 1.3s 1 cubic-bezier(0.175, 0.585, 0.08, 1.2);
    animation-delay: 0.2s;
}
@keyframes spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
